.project-data {
  width: 100%;
  background: #19376d;
  border-radius: 8px;
  overflow-y: hidden;
}
.project-logo-container {
  width: 100%;
  overflow: hidden;
}
.project-logo-container img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.project-logo-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.project-des-container {
  padding: 1rem;
}
.project-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-des {
  margin-bottom: 15px;
}
.tech-stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tech-stack span {
  background: #576cbc;
  padding: 3px 14px;
  border-radius: 27px;
}
.source-code {
  width: 100%;
  border-radius: 7px;
  padding: 6px;
  font-size: 18px;
  outline: none;
  border: none;
}
